*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, #178ce8, #bfe2ff 85%, transparent 85% ),
    linear-gradient(to top,
    #0a190b 0%, #255226 4%, #8bc34a 14%, #1e6f20b3 15%,
    transparent 15%
    );
    
}

/* butterfly */
.butterfly{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    perspective: 400px;
    transform-style: preserve-3d;
    transform: rotate3d(1,2,-1,45deg);
    animation: container 7s linear infinite;
}
.body{
    position: absolute;
    width: 20px;
    height: 150px;
    background: linear-gradient(45deg, rgba(0,0,0,0.57),rgba(0,0,0,0.14));
    border-radius: 50%;
}
.head{
    position: absolute;
    top:120px;
    left: 185px;
    width: 30px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.body::after{
    content: '';
    position: absolute;
    top: -70px;
    left: -20px;
    width: 20px;
    height: 90px;
    border: 2px solid lightslategray;
    border-radius: 100% 50%;
    border-left: none;
    border-bottom: none;
    transform: rotate(-25deg);
}
.body::before{
    content: '';
    position: absolute;
    top: -85px;
    left: 10px;
    width: 20px;
    height: 100px;
    border: 2px solid lightslategray;
    border-radius: 100% 50%;
    border-left: none;
    border-bottom: none;
    transform: rotate(25deg);
}
.left .top{
    position: absolute;
    top:20px;
    left: 80px;
    width: 30%;
    height: 45%;
    background: linear-gradient(45deg,rgba(244,69,48,0.6),rgba(255,255,255,0.3));
    border-radius: 15% 85% 0% 100% / 57% 84% 16% 43%;
    box-shadow: inset 15px 14px 2px -16px rgba(150, 189, 240, 0.549),
    inset 15px 8px 8px -6px rgba(228, 107, 252, 0.3);
    filter: drop-shadow(1px 1px 15px rgba(20, 250, 250, 0.3));
    transform-origin: right;
    animation: left 2s ease-in-out infinite;
}
.left .bottom{
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 25%;
    height: 35%;
    box-shadow: inset 15px -14px 2px -8px rgba(250, 2, 110, 0.2);
    background: linear-gradient(45deg, rgba(240,69, 48, 0.6), rgba(255,255,255,0.29));
    border-radius: 100% 0% 35% 65% / 60% 6% 94% 40%;
    filter: drop-shadow(1px 1px 15px rgba(20,250,250,0.3));
    transform-origin: right;
    animation: left 2s ease-in-out infinite;
}
.right .bottom{
    position: absolute;
    bottom: 100px;
    width: 25%;
    height: 35%;
    overflow: hidden;
    box-shadow: inset -15px -14px 2px -8px rgba(250, 2, 110, 0.2);
    background: linear-gradient(45deg, rgba(240,69, 48, 0.6), rgba(255,255,255,0.29));
    border-radius: 0% 100% 60% 40% / 6% 65% 35% 94%;
    filter: drop-shadow(1px 1px 15px rgba(20,250,250,0.3));
    transform-origin: left;
    z-index: 1;
    animation: right 2s ease-in-out infinite;
}
.right .top{
    position: absolute;
    top: 20px;
    width: 30%;
    height: 45%;
    box-shadow: inset -15px 14px 2px -16px rgba(20, 250, 250, 0.549), inset -15px 8px 8px -6px rgba(228, 107, 252, 0.3);
    background: linear-gradient(-45deg, rgba(240,69, 48, 0.6), rgba(255,255,255,0.3));
    border-radius: 85% 15% 100% 0% / 84% 43% 57% 16%;
    filter: drop-shadow(1px 1px 15px rgba(2,10,50,0.1));
    transform-origin: left;
    z-index: 10;
    animation: right 2s ease-in-out infinite;
}
@keyframes left{
    0%{
        transform: rotate3d(0,1,0, 80deg);
    }
    50%{
        transform: rotate3d(0,1,0, 20deg);
    }
    100%{
        transform: rotate3d(0,1,0, 80deg);
    }
}
@keyframes right{
    0%{
        transform: rotate3d(0,1,0, -80deg);
    }
    50%{
        transform: rotate3d(0,1,0, -20deg);
    }
    100%{
        transform: rotate3d(0,1,0, -80deg);
    }
}
@keyframes container {
    0%{
        transform: rotate(0deg) translateY(0px);
    }
    10%{
        transform: rotate(40deg) translateY(50px);
    }
    20%{
        transform: rotate(-20deg) translateY(100px);
    }
    30%{
        transform: rotate(40deg) translateY(200px);
    }
    40%{
        transform: rotate(-20deg) translateY(10px);
    }
    50%{
        transform: rotate(40deg) translateY(50px);
    }
    60%{
        transform: rotate(-20deg) translateY(0px);
    }
    70%{
        transform: rotate(40deg) translateY(-50px);
    }
    80%{
        transform: rotate(-20deg) translateY(-100px);
    }
    90%{
        transform: rotate(40deg) translateY(200px);
    }
    100%{
        transform: rotate(0deg) translateY(0px);
    }
}

/* flower with leaves */
.flower{
    position: absolute;
    width: 120px;
    height: 500px;
    left: 50vw;
    transform: rotate(-6deg);
    transform-origin: center bottom;
    top: 50%;
    animation: swing 2s ease infinite;
}
@keyframes swing{
    0%{
        transform: rotate(-6deg);
    }
    60%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(-6deg);
    }
}
.stem{
    position: absolute;
    width: 400px;
    height: 600px;
    left: -280px;
    border-radius: 100%;
    border-left: 10px solid #36552c;
}
.leaves::before, .leaves::after{
    content: '';
    position: absolute;
    height: 30px;
    width: 50px;
    background: linear-gradient(45deg, #36652c, #5f923a);
    border-radius:  100% 0;
    top: 195px;
    left: 6px;
}
.leaves::after{
    left: -49px;
    top: 170px;
    transform: rotate(45deg);
}
.petals{
    height: 150px;
    width: 120px;
    transform: rotate(70deg);
}
.petals::after, .petals::before{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #250067, #673ab7);
    height: 100px;
    width: 100px;
    border-radius: 100% 0;
    top: 150px;
    left: -85px;
    transform: rotate(-25deg);
    border-top: 4px solid #73bbf4;
    z-index: 1;
}
.petals::after{
    background: linear-gradient(0deg, #250067, #673ab7);
    left: -140px;
    transform: rotate(-70deg);
    border-right: 5px solid #73bbf4;
}
.petals span{
    position: absolute;
    background: linear-gradient(0deg, #250067, #673ab7);
    height: 100px;
    width: 100px;
    border-radius: 0 100%;
    transform: rotate(35deg);
    left: -110px;
    top: 115px;
    border-top: 2px solid #6fb9f4;
}